@font-face {
    font-family: 'Rotonda Bold';
    src: url('../src/fonts/RotondaC-Bold.eot');
    src: url('../src/fonts/RotondaC-Bold.eot?#iefix') format('embedded-opentype'),
    url('../src/fonts/RotondaC-Bold.woff') format('woff'),
    url('../src/fonts/RotondaC-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rotonda Regular';
    src: url('../src/fonts/RotondaC.eot');
    src: url('../src/fonts/RotondaC.eot?#iefix') format('embedded-opentype'),
    url('../src/fonts/RotondaC.woff') format('woff'),
    url('../src/fonts/RotondaC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}