.#{$prefix} {
    &-modal{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(#00A651, .5);
        z-index: 1300000;
        overflow: auto;

        &-popup.video-popup{
            .#{$prefix}-modal-popup__content{
                padding: 0 0 40px;
                iframe{
                    width: 778px;
                    height: 386px;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    display: block;
                    @media (max-width: 778px){
                        width: 100%;
                    }
                }
                .button{
                    margin-top: 35px;
                }
            }
            .#{$prefix}-modal__close{
                top: -40px;
                right: 0;
            }
            
        }

        @include media-md-to {
          display: block;
        }

        &__wrap {
            max-width: 778px;
            margin: 70px auto;
        }

        &__close {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 28px;
            height: 28px;
            z-index: 1;
            cursor: pointer;
        
            svg {
              height: 100%;
              width: 100%;
              //fill: getColor(white);
            }
        
        }
		
        &-popup {
            &__content {
                padding: 0 50px 50px;
                background-color: white;
                border-radius: 15px;
                line-height: 1.5;
                //overflow: hidden;
                &--rules{
					padding: 40px 0;
                }
                .promocodes{
                    margin-bottom: 10px;
                }
                .arrow-prev, .arrow-next{
                    position: absolute;
                    top: calc(50% - 25px);
                }
                .arrow-prev{
                    left: -80px;
                }
                .arrow-next{
                    right: -80px;
                }
                .icon{
                    margin: -70px 0 20px;
                }
                ul{
                    text-align: left;
                    list-style-type: disc;
                    list-style-position: inside;
                }
                // .delivery{
                //     display: block;
                //     color: $green;
                //     text-decoration: underline;
                //     margin-top: 25px;
                // }
            }
			&__title {
                font-family: 'Rotonda Bold', sans-serif;
                font-size:36px;
                margin-bottom: 20px;
			}
            
            &__scroll{
                height: 300px;

                &-bar{
                    position: absolute;
                    width: 40px;
                    height: 100%;
                    top: 0;
                    right: 0;
                    bottom: 0;
                }
            }
            &__rules-text{
                padding: 0 40px;
                b{
                    font-weight: bold;
                }
        
                @include media-sm-to {
                    padding-left: 20px;
                }
				/* fix for BB css*/
				ol li {
					font-weight:bold;
					padding-top:15px;
				}
				ol ol li, ol ol ol li, ol ol ol ol li {
					font-weight:normal;
					padding-top:0;
				}
				li { 
					list-style-type: none;
					margin:5px 10px;					
				}
				ol { counter-reset: list1; }
				ol li:before {
					counter-increment: list1;
					content: counter(list1) ". ";
					font-weight:bold;
				}
				ol ol { counter-reset: list2; }
				ol ol li:before {
					counter-increment: list2;
					content: counter(list1) "." counter(list2) ". ";
					font-weight:bold;
				}

				ol ol ol { counter-reset: list3; }
				ol ol ol li:before {
					counter-increment: list3;
					content: counter(list1) "." counter(list2)  "." counter(list3) ". ";
					font-weight:bold;
				}
				
				ol ol ol ol { counter-reset: list4; }
				ol ol ol ol li:before {
					counter-increment: list4;
					content: counter(list1) "." counter(list2) "." counter(list3)  "." counter(list4) ". ";
					font-weight:bold;
				}
				/* /fix for BB css*/
            }
        }
        
    }

}