// Colors
$ps-border-radius: 0 !default;

$ps-rail-default-opacity: 1 !default;
$ps-rail-container-hover-opacity: 1 !default;
$ps-rail-hover-opacity: 1 !default;

$ps-bar-bg: $green !default;
$ps-bar-container-hover-bg: $d-green !default;
$ps-bar-hover-bg: $d-green !default;
$ps-rail-hover-bg: $green !default;

// Sizes
$ps-scrollbar-x-rail-bottom: 0px !default;
$ps-scrollbar-x-rail-height: 15px !default;
$ps-scrollbar-x-bottom: 2px !default;
$ps-scrollbar-x-height: 6px !default;
$ps-scrollbar-x-hover-height: 11px !default;

$ps-scrollbar-y-rail-right: 0 !default;
$ps-scrollbar-y-rail-width: 10px !default;
$ps-scrollbar-y-right: 0 !default;
$ps-scrollbar-y-width: 10px !default;
$ps-scrollbar-y-hover-width: 10px !default;
